:root {
  background: white;
}
* {
  color: black;
}
h1 {
  color: blue;
}
.green {
  color: green;
}
#blue {
  color: blue;
}
.box {
  background: green;
}
section .box p {
  background: red;
}
.brown {
  background: brown;
  color: white;
}
ul > li {
  background: red;
}
.header-button + span {
  background: red;
}
.susid ~ p {
  background: blue;
  color: white;
}
.salo,
#bread {
  background: yellow;
}
.first-task :first-child {
  color: white;
}
.second-task :first-child {
  color: yellow;
}
.third-task :last-of-type :first-child {
  background: yellow;
}
.four-task :last-of-type :last-child {
  background: yellow;
}
.five-task :last-of-type :last-child {
  color: white;
}
.only-child-task :only-child {
  color: red;
}
.seven-task p:first-of-type {
  background: red;
}
.eight-task p:last-of-type {
  background: red;
}
.text-wrapper p:only-of-type {
  background: yellow;
}
.lesson-three-task-one a[href] {
  color: white;
}
.lesson-three-task-two li[value] {
  color: yellow;
}
.lesson-three-task-three li[value='3'] {
  background: red;
}
.lesson-three-task-four button[class~='primary'] {
  background: blue;
}
.lesson-three-task-five button[class|='secondary'] {
  background: red;
}
.lesson-three-task-six li[class^='b'] {
  color: green;
  background: white;
}
.lesson-three-task-seven li[class*='on'] {
  color: green;
  background: white;
}
.lesson-three-task-eight span[class$='s'] {
  color: blue;
  background: white;
}
.lesson-three-task-nine h2::first-letter {
  color: red;
}
.lesson-three-task-ten::first-line {
  background: yellow;
}
.lesson-three-task-eleven input::placeholder {
  background: red;
}
.lesson-three-task-twelve li::before {
  content: '➤';
}
.lesson-three-task-thirteen li::after {
  content: '➤';
}
